<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href='/stylesheets/style.css'>
	</head>

	<body>
		<h1>Welcome to <%= title %></h1>
		<p><%= text %></p>
	</body>
	
</html>